{% extends "base.html" %}


{% block content %}
<style>
  body  {
    background-image: url("paper.gif");
    background-color: rgb(255, 255, 255);
  }
  </style>
<h1>Cart</h1>
{% if cart.products.exists %}
<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Name</th>
        <th>Product Price</th>
      </tr>
    </thead>
    <tbody>
        {% for product in cart.products.all %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><strong> <a href='{{ product.get_absolute_url}}'>{{ product.title }}</a></strong>
   
            {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
   </td>
        <td>{{ product.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="2"></td>
        <td><b>Subtotal</b> = {{ cart.subtotal }}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><b>VAT</b> = {{ cart.VAT }}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><b>Shipping</b> = {{ cart.shipping }}</td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <td><b>Total</b> = {{ cart.total }}</td>
      </tr>
    </tbody>
  </table>

{% else %}
<p class='lead'>Cart is empty</p>
{% endif %}

{% endblock %}